@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

body{
   
    background-color:whitesmoke ;
}

.txt-1{
    text-align: center;
}

#txt-area{
    
    box-sizing: border-box;
   
    min-width: 50%;
    margin: 2rem 0rem;
    padding: 2rem 2rem;
    font-family: 'Ephesis', cursive;    font-size: large;
    font-weight:bold;
    font-size:xx-large;
    background-color: #ffff38 ;

   
}

nav{
    margin: 0rem 0rem;
    padding: 2rem 2rem;
    font-size: xx-large;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 0.5rem;
    color: yellow;
    font-family: 'Ephesis', cursive;
}

h2{
   
    font-family: 'Ephesis', cursive;
   
    padding: 2rem 2rem;

    border-radius: 0.5rem;
    color: black;


}
.wrapper-pic{
    margin: 0rem 0rem;
    text-align: center;
}

#minion{
    padding: 2rem 2rem;
}

.wrapper-text{
    margin: 0rem 0rem;
    text-align: center;
}

.wrapper-btn{
    margin: 0rem 0rem;
    text-align: center;
}

#btn-translate{
    
    position: relative;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Ephesis',cursive;
    
    padding: 1.0rem 1.5rem;
    border-radius: 0.5rem;
    
    color:yellow;
    background-color: yellowgreen;
}

.txt-2{
    text-align: center;
}


#txt-area-output{
    box-sizing: border-box;
   
    min-width: 50%;
    margin: 2rem 0rem;
    padding: 2rem 2rem;
    font-family: 'Ephesis', cursive;    font-size: large;
    font-weight:bold;
    font-size:xx-large;
    background-color: #ffff38 ;

}

footer{
    font-weight: lighter;
    font-size: xx-large;
    text-align: center;
    font-family: 'Ephesis', cursive;
    margin: 0.5rem 0rem;
    padding: 0rem 0.5rem;
    background-color: yellowgreen;
    border-radius: 0.5rem;
    color:yellow;
    text-decoration: underline;

}